body {
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
}

#container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#mailIcon{
    margin-top: 4px;
}

#firstBackground {
    height: 500px;
    width: 100%;
    background-image: url(../img/4dSolutionsLogo.png);
    background-size: cover;
    background-position: center;
}

#pText {
    width: 100%;
    height: 25px;
    font-size: 24px;
}

#solutionsLogo{
	height: 242px;
    margin-top: 165px;
}

#solutionsText {
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 246px;
    color: #f8f4f4;
    letter-spacing: 2px;
    height: 114px;
}

#impressumText {
    margin-left: 31%;
    position: absolute;
    text-align: center;
}

.impressumAgbSize {
    color: white;
    font-size: 24px;
}

#iconsContainer {
    height: 634px;
    width: 100%;
}

#iconsBackground {
    width: 100%;
    height: 800px;
    margin-top: -5%;
}

#containerNav {
	width: 100%;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: white;
    border-color: none;
}

#changeHomeLogo {
    display: initial;
}

#changeHomeLogo4D {
    display: none;
}

.navbar-brand {
    margin-top: 3px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.iconsWidth {
	width: 38px;
}

.textDigital {
	color: black;
	font-size: 24px;
}

#contactMap {
	width: 100%;
	height: 845px;	
	position: absolute;
}

#contact {
    width: 74%;
    height: 713px;
    position: absolute;
    margin-left: 15%;
    margin-top: 5%;
}

#footerBackground {
	width: 100%;
	height: 845px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/icons/footer.png");
}

#textContact {
    width:50%;
    float:left;
    margin-top: 8%;
}

.textContact {
	font-size: 24px;
	color: #f8f4f4;
}

#solutionsLogoBottom {
    margin-left: 11%;
    margin-top: 2%;
}

#logBottom {
	float: left;
}

#map {
    width:50%;
    float:left;
    margin-top: 12%;
}

#gmap_canvas {
	color: black;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}

#PrIcon {
    display: none;
}


/*Media Queries*/

@media only screen and (min-width: 1800px) {

.PrIcon {
    display: none;
}

#PrIcon {
    display: none;
}

#solutionsText {
    text-align: center;
    position: absolute;
    margin-top: 610px;
    color: #f8f4f4;
}

#changeHomeLogo {
    display: initial;
}

#changeHomeLogo4D {
    display: none;
}

#impressumText {
    margin-left: 39%;
    position: absolute;
    text-align: center;
}

#firstBackground {
    height: 1200px;
    width: 100%;
    background-image: url("../img/4dSolutionsLogo.png");
    background-size: cover;
    background-position: center;
}

#solutionsLogoBottom {
    margin-left: 5%;
    margin-top: 13px;
}

}


/*iPads*/

@media only screen and (max-width: 1024px) {

body {
	font-size: 19px;
}

#map {
    float: none;
    display: none;
}

.textPR {
	font-size: 19px;
}

#PrIcon {
    display: none;
}

.textDigital {
	font-size: 19px;
}

.textContact {
	font-size: 19px;
}

#firstBackground {
    height: 500px;
    width: 100%;
    background-image: url("../img/4dSolutionsLogo.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackground {
	width: 100%;
	height: 400px;
}

#solutionsPr {
	width: 100%;
	height: 400px;
}

#pText {
    width: 100%;
    padding-top: 27px;
    text-align: center;
    font-size: 19px;
    color: #f8f4f4;
}

#solutionsText {
    text-align: center;
    margin-top: 234px;
}


#solutionsLogo {
    width: 40%;
    height: 106px;
    margin-top: 174px;
}

#socialMedia {
	width: 100%;
	height: 489px;
	font-size: 11px;
}

#changeHomeLogo {
    display: initial;
}

#changeHomeLogo4D {
    display: none;
}

#website {
	width: 100%;
	height: 474px;
}

#impressumText {
    margin-left: 31%;
    position: absolute;
    text-align: center;
}

#referenzen {
	width: 100%;
	height: 600px;
}

#referenzenLogo {
	width: 100%;
	height: 600px;
}

#textReferenzen {
	margin-top: 61px;
}

#email {
	height: 243px;
	width: 100%;
}

.emailText {
	margin-top: -45px;
	font-size: 19px;
}

#iconsBackground {
    width: 100%;
    height: 800px;
    margin-top: -10%;
}

#contactMap {
	width: 100%;
	height: 600px;
}

#footerBackground {
	width: 100%;
	height: 600px;
}

#contact {
	height: 0px;
}

#textContact {
	margin-left: 33%;
	margin-top: 0px;
}

#home4d {
    height: 600px;
    width: 100%;
}

.navbar-brand {
    padding-top: 0px;
    margin-left: -25px;
    margin-top: 17px;
}

.navbar-toggle {
    margin-right: 0px;
}

.navbar-nav {
    display: inline-flex;
}

#solutionsLogoBottom {
    margin-left: 11%;
    margin-top: 3%;
}

}

/*Large screen mobiles */

@media only screen and (max-width: 768px) {

body {
	font-size: 19px;
}

.PrIcon {
    display: none;
}

#PrIcon {
    display: none;
}

#map {
    float: none;
    display: none;
}

.textPR {
	font-size: 19px;
}

.textDigital {
	font-size: 19px;
}

.textContact {
	font-size: 19px;
}

#changeHomeLogo {
    display: initial;
}

#changeHomeLogo4D {
    display: none;
}

#solutionsBackground {
	width: 100%;
	height: 400px;
}

#solutionsPr {
	width: 100%;
	height: 400px;
}

#solutionsLogo {
    height: 124px;
    margin-top: 133px;
}

#socialMedia {
	width: 100%;
	height: 489px;
	font-size: 19px;
}

#website {
	width: 100%;
	height: 474px;
}

#pText {
    font-size: 19px;
    color: #f8f4f4;
}

#impressumText {
    margin-left: 22%;
    position: absolute;
    text-align: center;
}

#referenzen {
	width: 100%;
	height: 600px;
}

#referenzenLogo {
	width: 100%;
	height: 600px;
}

#textReferenzen {
	margin-top: 61px;
}

#email {
	height: 243px;
	width: 100%;
}

.emailText {
	margin-top: -45px;
	font-size: 19px;
}

#iconsBackground {
    width: 100%;
    height: 800px;
    margin-top: -19%;
}

#contactMap {
	width: 100%;
	height: 600px;
}

#footerBackground {
	width: 100%;
	height: 600px;
}

#contact {
	height: 0px;
}

#textContact {
	margin-left: 30%;
	margin-top: 8px;
}

#solutionsText {
    text-align: center;
    position: absolute;
    margin-top: 227px;
    color: grey;
}

.navbar-brand {
    padding-top: 0px;
    margin-left: -25px;
    margin-top: 19px;
}

.navbar-toggle {
    margin-right: 0px;
}

.navbar-nav {
    display: inline-flex;
    /* margin-top: 8%; */
    margin-left: -13%;
    float: right;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

#solutionsLogoBottom {
    margin-left: 15%;
    margin-top: 4%;
    font-size: 19px;
}

.impressumAgbSize {
    font-size: 19px;
}

#firstBackground {
    height: 500px;
    width: 100%;
    background-image: url("../img/4dSolutionsLogo.png");
    background-size: cover;
    background-position: center;
}

}

/*iPhones and other mobiles*/

@media only screen and (max-width: 480px) {

body {
	font-size: 14px;
}

h2 {
    font-size: 26px;
    margin-top: 12px;
}

#map {
    float: none;
    display: none;
}

.textPR {
	font-size: 14px;
}

.textDigital {
	font-size: 14px;
}

#mailIcon{
    display: none;
}

#changeHomeLogo {
    display: none;
}

#changeHomeLogo4D {
    display: initial;
}

.textContact {
	font-size: 14px;
}

#solutionsBackground {
	width: 100%;
	height: 400px;
}

#solutionsPr {
	width: 100%;
	height: 400px;
}

#solutionsLogo {
    height: 110px;
    margin-top: 133px;
}

#pText {
    font-size: 14px;
    color: #f8f4f4;
}

#socialMedia {
	width: 100%;
	height: 489px;
	font-size: 14px;
}

#firstBackground {
    width: 100%;
    height: 400px;
}

#home4d {
    height: 400px;
    width: 100%;
}

#website {
	width: 100%;
	height: 474px;
}

#impressumText {
    margin-left: 14%;
    position: absolute;
    text-align: center;
}

#referenzen {
	width: 100%;
	height: 600px;
}

#referenzenLogo {
	width: 100%;
	height: 600px;
}

#textReferenzen {
	margin-top: 61px;
}

#email {
	height: 243px;
	width: 100%;
}

.emailText {
	margin-top: -45px;
	font-size: 14px;
}

#iconsBackground {
    width: 100%;
    height: 800px;
    margin-top: -19%;
}

#contactMap {
	width: 100%;
	height: 530px;
}

#footerBackground {
	width: 100%;
	height: 530px;
}

#contact {
	height: 0px;
}

#textContact {
	margin-left: 29%;
	margin-top: 8px;
}

#solutionsText {
    text-align: center;
    position: absolute;
    margin-top: 172px;
    color: grey;
}

.navbar-brand {
    padding-top: 0px;
    margin-top: 13px;
    margin-left: -25px;
}

.navbar-toggle {
    margin-right: 0px;
    margin-top: 15px;
}

.navbar-nav {
    display: inline-flex;
    margin-top: 8%;
    margin-left: -13%;
    float: right;
}

navbar-collapse, .navHeaderCollapse, .collapse, .in {
    width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-left: -20px;
    float: left;
    width: 71%;
}

li {
    width: 147%;
}

.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
    width: 100%;
    position: fixed;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

#PrIcon {
    color: black;
    font-size: 14px;
    display: inline;
    margin-left: 15%;
}



#solutionsLogoBottom {
    margin-left: 27%;
    margin-top: 7%;
    font-size: 14px;
}

.impressumAgbSize {
    font-size: 14px;
}

#firstBackground {
    height: 400px;
    width: 100%;
    background-image: url("../img/4dSolutionsLogo.png");
    background-size: cover;
    background-position: center;
}

}


@media only screen and (max-width: 375px) {

navbar-collapse, .navHeaderCollapse, .collapse, .in {
    width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-left: -20px;
    float: left;
    width: 61%;
}

li {
    width: 147%;
}

#firstBackground {
    height: 380px;
    width: 100%;
    background-image: url("../img/4dSolutionsLogo.png");
    background-size: cover;
    background-position: center;
}

#changeHomeLogo {
    display: none;
}

#changeHomeLogo4D {
    display: initial;
}


.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
    width: 100%;
    position: fixed;
}
.textContact {
    font-size: 14px;
}

.navbar-toggle {
    margin-top: 16px;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

#PrIcon {
    color: black;
    font-size: 14px;
    display: inline;
    margin-left: 15%;
}

#solutionsText {
    text-align: center;
    position: absolute;
    margin-top: 156px;
    color: grey;
}

#impressumText {
    margin-left: 9%;
    position: absolute;
    text-align: center;
}

#textContact {
    margin-left: 26%;
    margin-top: 8px;
}


}

@media only screen and (max-width: 350px) {

body {
	font-size: 11px;
}

#map {
    float: none;
    display: none;
}

#changeHomeLogo {
    display: none;
}

#changeHomeLogo4D {
    display: initial;
}

.textPR {
	font-size: 11px;
}

.textDigital {
	font-size: 11px;
}

.textContact {
	font-size: 11px;
}

#solutionsBackground {
	width: 100%;
	height: 400px;
}

#solutionsPr {
	width: 100%;
	height: 400px;
}

#solutionsLogo {
    height: 113px;
    margin-top: 133px;
}

#socialMedia {
	width: 100%;
	height: 489px;
	font-size: 11px;
}

#website {
	width: 100%;
	height: 474px;
}

#impressumText {
    margin-left:12%;
    position: absolute;
    text-align: center;
}

#referenzen {
	width: 100%;
	height: 600px;
}

#referenzenLogo {
	width: 100%;
	height: 600px;
}

#textReferenzen {
	margin-top: 61px;
}

#email {
	height: 243px;
	width: 100%;
}

.emailText {
	margin-top: -45px;
	font-size: 19px;
}

#iconsBackground {
    width: 100%;
    height: 800px;
    margin-top: -21%;
}

#contactMap {
	width: 100%;
	height: 600px;
}

#footerBackground {
	width: 100%;
	height: 600px;
}

#contact {
	height: 0px;
}

#textContact {
    margin-left: 24%;
    margin-top: 8px;
}

#solutionsText {
    text-align: center;
    position: absolute;
    margin-top: 135px;
    color: grey;
}

#solutionsLogoBottom {
    margin-left: 38%;
    margin-top: 9%;
    font-size: 11px;
}

navbar-collapse, .navHeaderCollapse, .collapse, .in {
    width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-left: -20px;
    float: left;
}

li {
    width: 147%;
}

.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
    width: 100%;
    position: fixed;
}
.textContact {
    font-size: 14px;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
    font-size: 14px;
}

#PrIcon {
    color: black;
    font-size: 14px;
    display: inline;
    margin-left: 15%;
}

.navbar-toggle {
    margin-top: 16px;
}

#firstBackground {
    height: 330px;
    width: 100%;
    background-image: url("../img/4dSolutionsLogo.png");
    background-size: cover;
    background-position: center;
}


h2 {
    font-size: 21px;
    margin-top: 12px;
}


}




