/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

body {
	font-family: 'Josefin Sans', sans-serif; 
	font-size: 22px;
	color: #FAFAFA;
	line-height: 22px;
}

a:hover {
	text-decoration-line: none;
	text-decoration: none;
}

#container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

#logoFb {
    margin-top: 31px;
}

#mailIcon{
    margin-top: 4px;
}

#hideMail {
    display: none;
}

.gmnoprint, .gm-style-cc {
    display: none;
}

#containerNav {
	width: 101%;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: white;
    border-color: none;
}

.navbar-brand {
    margin-top: 3px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.iconsWidth {
	width: 38px;
}

.navbar-right {
    float: right!important;
    margin-right: -27px;
}

#solutionsBackground {
	width: 100%;
	height: 675px;
}

#solutionsBackgroundDigital {
    height: 680px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 680px;
	width: 100%;
    background-image: url("../img/icons/EVENT_HEADER.jpg");
    background-size: cover;
    background-position: center;
}

.mobileVersionImage {
	width: 100%;
	height: 1298px;
	display: none;
}

#changeHomeLogo4D {
	display: none;
}

#solutionsPr {
	width: 100%;
	height: 1000px;
}

#socialMedia {
    width: 100%;
    height: 374px;
    background-color: white;
}

#spaceBetween {
	width: 100%;
	height: 117px;
}

.textPRDasDigital {
    margin-top: 58px;
}

#textDivDigital {
    width: 74%;
     margin-top: 48px; 
    margin-left: 14%;
    letter-spacing: 1px;
}

.textPRDasDigital {
	margin-top: 32px;
	color: black;
}

#textDivWebsite {
    width: 82%;
    margin-left: 14%;
    letter-spacing: 2px;
}

.textPRDasWebsite {
    margin-top: 56px;
    color: black;
}

#spaceBetweenImg {
	width: 100%;
	height: 117px;
}

#promoter {
    /* position: absolute; */
    margin-left: 64%;
    margin-top: -306px;
}

#promoterImg {
	width: 98%;
}

#website {
	width: 100%;
	height: 324px;
	background-color: white;
}

#websiteEvent {
    width: 100%;
    height: 324px;
}

#textReferenzen {
    width: 100%;
    height: 15px;
    position: absolute;
    margin-top: 105px;
    text-align: center;
    letter-spacing: 2px;
}

.textPR {
	color: #f7f4fd;
	font-size: 24px;
}

.textPRDas {
    color: black;
}

#textDivEvent {
	width: 68%;
	height: 300px;
    margin-left: 14%;
    margin-top: 6%;
    letter-spacing: 2px;
}

#textDivPromotion {
    color: black;
    width: 46%;
    height: 301px;
    margin-left: 18%;
    margin-top: 1px;
    letter-spacing: 2px;
}

.textDigital {
	color: grey;
	font-size: 24px;
}

#referenzen {
	height: 1000px;
	width: 100%;
    background-image: url("../img/icons/digital_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 1000px;
	width: 100%;
    background-image: url("../img/icons/EVENT_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenLogo {
	width: 100%;
	height: 1000px;
}

#email {
	width: 100%;
	height: 301px;
	background-color: white;
	text-align: center;
	color: #1c1030;
    letter-spacing: 2px;
}

.emailText {
	color: black;
}

.emailText:hover {
    color: black;
}

#contactMap {
	width: 100%;
	height: 845px;	
	position: absolute;
}

#contact {
    width: 74%;
    height: 713px;
    position: absolute;
    margin-left: 15%;
    margin-top: 5%;
    letter-spacing: 2px;
}

#footerBackground {
	width: 100%;
	height: 845px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/icons/footer.png");
}

#textPRDasEvent {
	margin-top: -23px;
	color: black;
}

#textPRDasPromotion {
    margin-top: 27px;
}

#textContact {
    width:50%;
    float:left;
    margin-top: 8%;
}

.textContact {
	font-size: 24px;
	color: #f8f4f4;
}

.textContact:hover {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

#solutionsLogoBottom {
    margin-left: 11%;
    margin-top: 12px;
}

#logBottom {
	float: left;
}

#map {
    width:50%;
    float:left;
    margin-top: 12%;
}

#gmap_canvas {
	color: black;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

#socialMediaEvent {
    width: 100%;
    height: 260px;
}

.PrIcon {
	display: none;
}

#copyright {
    font-size: 13px;
    margin-top: 10px;
}


/*Media Queries*/

/*@media only screen and (max-width: 2560px) {

#textDivPromotion {
    margin-top: 72px;
    margin-left: 22%;
}

}*/


@media only screen and (min-width: 1441px) {

#solutionsBackgroundDigital {
    height: 900px;
    width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 900px;
    width: 100%;
    background-image: url("../img/icons/EVENT_HEADER.jpg");
    background-size: cover;
    background-position: center;
}



}



@media only screen and (min-width: 1680px) {

#solutionsBackgroundDigital {
    height: 940px;
    width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 940px;
    width: 100%;
    background-image: url("../img/icons/EVENT_HEADER.jpg");
    background-size: cover;
    background-position: center;
}



}

@media only screen and (min-width: 1800px) {

#solutionsPr {
    width: 100%;
    height: 1236px;
} 

#solutionsBackground {
    width: 100%;
    height: 1500px;
}

#textDiv {
    margin-left: 22%;
}

#solutionsBackgroundDigital {
    height: 1200px;
    width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 1200px;
    width: 100%;
    background-image: url("../img/icons/EVENT_HEADER.jpg");
    background-size: cover;
    background-position: center;
}

#textReferenzen {
    width: 100%;
    height: 1236px;
} 

#referenzenImg {
    width: 100%;
    height: 1236px;
} 

#referenzen {
    height: 1255px;
    width: 100%;
    background-image: url("../img/icons/digital_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenCreative {
    height: 1500px;
    width: 100%;
    background-image: url("../img/05_CREATIVE_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#email {
    margin-top: 9px;
}

#solutionsLogoBottom {
    margin-left: 5%;
    margin-top: 12px;
}

#websiteEvent {
    height: 428px;
}

#website {
    width: 69%;
    height: 357px;
    background-color: white;
    margin-left: 7%;
}

.textPR {
    color: #f7f4fd;
    font-size: 24px;
    margin-top: 40px;
}

#textDivEvent {
    margin-left: 14%;
}

.PrIcon {
    display: none;
}

#changeHomeLogo4D {
    display: none;
}

.textPR {
    color: #f7f4fd;
    font-size: 24px;
    margin-top: 48px;
}

.textPRDasDigital {
    margin-top: 72px;
    color: black;
}

#textPR {
    margin-top: 2px;
}

#promoter {
    margin-top: -597px;
}

#promoterImg {
    width: 100%;
}

#referenzenEvent {
    height: 1254px;
    width: 100%;
    background-image: url("../img/icons/EVENT_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#textDivDigital {
    width: 57%;
    margin-top: 48px; 
    margin-left: 23%;
}

#textDivWebsite {
    width: 74%;
    margin-top: 71px;
    margin-left: 23%;
}

#textDivPromotion {
    margin-top: 157px;
    margin-left: 14%;
    width: 48%;
    height: 390px;
}

#textPRDasEvent {
    margin-top: -46px;
    color: black;
}

#copyright {
    font-size: 13px;
    margin-top: 10px;
}

}

@media only screen and (min-width: 2560px) {

#solutionsBackgroundDigital {
    height: 1500px;
    width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 1500px;
    width: 100%;
    background-image: url("../img/icons/EVENT_HEADER.jpg");
    background-size: cover;
    background-position: center;
}

#contact {
    width: 71%;
    height: 713px;
    position: absolute;
    margin-left: 21%;
    margin-top: 5%;
    letter-spacing: 2px;
}

#map {
    width: 50%;
    float: left;
    margin-top: 10%;
}

}

@media only screen and (max-width: 2300px) {
    #textDivPromotion {
    margin-top: 61px;
    margin-left: 14%;
    width: 51%;
    height: 315px;
}

}

@media only screen and (max-width: 1300px) {

#textDivPromotion {
    margin-top: 26px;
    margin-left: 14%;
    width: 51%;
    height: 315px;
}

}

@media only screen and (max-width: 1024px) {

body {
	font-size: 19px;
}

#changeHomeLogo4D {
	display: none;
}

#map {
    float: none;
    display: initial;
}

#logBottom {
    width: 30px;
}

#logoFb {
    width: 30px;
    margin-top: 3px;
}

.textPR {
	font-size: 19px;
}

.textDigital {
	font-size: 19px;
}

.textContact {
	font-size: 16px;
}

#solutionsBackground {
	width: 100%;
	height: 600px;
}

#solutionsBackgroundDigital {
    height: 500px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 500px;
	width: 100%;
    background-image: url("../img/solutionsEvent.png");
    background-size: cover;
    background-position: center;
}

.mobileVersionImage {
	width: 100%;
	height: 1298px;
	display: none;
}

#solutionsPr {
	width: 100%;
	height: 600px;
}

#socialMedia {
    width: 100%;
    height: 310px;
    font-size: 19px;
}

#socialMediaEvent {
	height: 295px;
	width: 100%;
	font-size: 19px;
	color: black;
}

#website {
	width: 100%;
	height: 325px;
	font-size: 19px;
}

#referenzen {
	height: 500px;
	width: 100%;
    background-image: url("../img/icons/digital_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 500px;
	width: 100%;
    background-image: url("../img/icons/EVENT_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#textDiv {
    width: 43%;
    height: 111px;
    margin-left: 18%;
    margin-top: 6%;
}

#textPRDas {
    margin-top: -49px;
    color: black;
    font-size: 19px;
}

#textPRDasEvent {
	margin-top: -12px;
	color: black;
}

#websiteEvent {
    width: 100%;
    height: 169px;
}

#textDivPromotion {
    width: 45%;
    position: absolute;
    margin-left: 12%;
    color: black;
    overflow: hidden;
    height: 335px;
    margin-top: 35px;
}

#textDivEvent {
    width: 68%;
    height: 300px;
    margin-left: 12%;
    margin-top: 6%;
    letter-spacing: 2px;
}

#textPRDasPromotion {
    margin-top: 5px;
}

#promoter {
    width: 44%;
    margin-left: 56%;
    margin-top: -138px;
}

#promoterImg {
    width: 96%;
}

#referenzenLogo {
	width: 100%;
	height: 600px;
}

#textReferenzen {
    margin-top: 40px;
}

#email {
	height: 243px;
	width: 100%;
}

.emailText {
	margin-top: -45px;
	font-size: 19px;
}

#contactMap {
	width: 100%;
	height: 550px;
}

#footerBackground {
	width: 100%;
	height: 550px;
}

#contact {
	height: 0px;
}

#textContact {
    margin-left: -4%;
    margin-top: 0px;
}

.navbar-brand {
    padding-top: 0px;
    margin-left: -25px;
    margin-top: 17px;
}

.navbar-toggle {
    margin-right: 0px;
}

.navbar-nav {
    display: inline-flex;
}

#solutionsLogoBottom {
    margin-left: 12%;
    margin-top: 3%;
}

.PrIcon {
	display: none;
}

#copyright {
    font-size: 9px;
    margin-top: 9px;
}

}

@media only screen and (max-width: 934px) {

#textDivPromotion {
    width: 45%;
    position: absolute;
    margin-left: 12%;
    color: black;
    overflow: hidden;
    height: 285px;
    margin-top: 10px;
}

}
/*Large screen mobiles */

@media only screen and (max-width: 768px) {


body {
	font-size: 19px;
}

#changeHomeLogo4D {
	display: none;
}

#map {
    float: none;
    display: none;
}

#solutionsBackground {
	width: 100%;
	height: 600px;
}

#solutionsBackgroundDigital {
    height: 500px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 500px;
	width: 100%;
    background-image: url("../img/solutionsEvent.png");
    background-size: cover;
    background-position: center;
}

.mobileVersionImage {
	width: 100%;
	height: 1298px;
	display: none;
}

#socialMedia {
    height: 340px;
    width: 100%;
}

.textDigital {
	font-size: 19px;
}

#solutionsPr {
	width: 100%;
	height: 600px;
}

#socialMediaEvent {
    width: 100%;
    height: 298px;
    font-size: 19px;
    color: black;
}

#promoter, #promoterImg {
	display: none;
}

#website {
    width: 100%;
    height: 300px;
    font-size: 19px;
}

#websiteEvent {
    width: 100%;
    height: 284px;
    font-size: 19px;
}

#referenzen {
	height: 500px;
	width: 100%;
    background-image: url("../img/icons/digital_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 500px;
	width: 100%;
    background-image: url("../img/icons/EVENT_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenLogo {
	width: 100%;
	height: 500px;
}

#textReferenzen {
	margin-top: 50px;
}

#textDivPromotion {
    width: 75%;
    position: absolute;
    margin-left: 14%;
}

#textDivEvent {
    width: 75%;
    height: 300px;
    margin-left: 14%;
    font-size: 19px;
    margin-top: 6%;
    letter-spacing: 1px;
}

#email {
	height: 243px;
	width: 100%;
}

.emailText {
	margin-top: -36px;
	font-size: 19px;
}

#contactMap {
	width: 100%;
	height: 550px;
}

#footerBackground {
	width: 100%;
	height: 550px;
}

.textPR {
	font-size: 19px;
}

#contact {
	height: 0px;
}

#textContact {
    margin-left: 20%;
    margin-top: 58px;
    width: 80%;
}

.navbar-brand {
    padding-top: 0px;
    margin-left: -19px;
    margin-top: 15px;
}

.navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-top: 18px;
}

.navbar-toggle {
    margin-right: 0px;
    margin-top: 17px;
}

.navbar-nav {
    display: inline-flex;
    float: right;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

#solutionsLogoBottom {
    margin-left: 8%;
    margin-top: 7px;
}

.textContact {
    font-size: 15px;
}

#logoFb {
    width: 25px;
    margin-top: 18px;
}

.textPRDasDigital {
    margin-top: 10px;
    color: black;
}

/*#textPRDasPromotion {
    margin-top: -54px;
}*/

.textPRDasWebsite {
    margin-top: 24px;
    color: black;
}

.PrIcon {
	display: none;
}

#copyright {
    font-size: 7px;
    margin-top: 7px;
    width: 116%;
    height: 0px;
}

}

@media only screen and (max-width: 568px) {

#solutionsLogoBottom {
    margin-left: 11%;
    margin-top: 7px;
}

}

@media only screen and (max-width: 480px) {

/*#socialMediaEvent {
    width: 100%;
    height: 420px;
    font-size: 15px;
    color: black;
}*/

#textDivEvent {
    font-size: 15px;
}

#textDivPromotion {
    width: 74%;
    position: absolute;
    margin-left: 19%;
    font-size: 15px;
}

#hideMail {
    display: initial;
}

#textDivWebsite {
    width: 82%;
    margin-left: 14%;
    letter-spacing: 1px;
    font-size: 15px;
}

#textDivDigital {
    width: 74%;
    font-size: 15px;
    /* margin-top: 48px; */
    margin-left: 14%;
    letter-spacing: 1px;
}

#copyright {
    font-size: 7px;
    height: 0px;
    font-size: 7px;
    margin-top: -5px;
    width: 102%;
}

}

/*iPhones and other mobiles*/

@media only screen and (max-width: 425px) {

body {
	font-size: 14px;
}

#changeHomeLogo {
	display: none;
}

#changeHomeLogo4D {
	display: initial;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-right: 34%;
    width: 71%;
}

#map {
    float: none;
    display: none;
}

#mailIcon{
    display: none;
}

#solutionsBackground {
	width: 100%;
	height: 444px;
	display: none;
}

#solutionsBackgroundDigital {
    height: 400px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    display: none;
}

.navbar-toggle {
    margin-right: 0px;
    margin-top: 15px;
}

.textDigital {
	font-size: 14px;
    margin-top: -8px;
}

#solutionsPr {
	width: 100%;
	height: 444px;
}

/*.mobileVersionImage {
    width: 100%;
    height: 400px;
    display: initial;
}*/

#mobileVersionImageEvent {
	width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/03_event_VISUAL_TOT.png");
}

/*#socialMedia {
    width: 100%;
    height: 402px;
    font-size: 14px;
}*/

#socialMedia {
    width: 100%;
    height: 400px;
    font-size: 14px;
}

#socialMediaEvent {
    width: 100%;
    height: 345px;
    font-size: 14px;
}

#website {
    width: 100%;
    height: 368px;
    font-size: 14px;
}

#websiteEvent {
    width: 100%;
    height: 330px;
    font-size: 19px;
}

#referenzen {
	height: 400px;
	width: 100%;
    background-image: url("../img/icons/digital_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 400px;
	width: 100%;
    background-image: url("../img/icons/EVENT_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenLogo {
	width: 100%;
	height: 500px;
}

#textReferenzen {
	margin-top: 61px;
}

#email {
	height: 243px;
	width: 100%;
}

.emailText {
	margin-top: -45px;
	font-size: 14px;
}

#contactMap {
    width: 100%;
    height: 500px;
}

#footerBackground {
	width: 100%;
	height: 500px;
}

.textPR {
	font-size: 14px;
}

#contact {
	height: 0px;
}

#textContact {
    margin-left: 1%;
    margin-top: 57px;
    width: 100%;
}

.navbar-brand {
    padding-top: 0px;
    margin-top: 13px;
    margin-left: -25px;
}

.navbar-toggle {
    margin-right: 0px;
}

#textDivEvent {
    font-size: 14px;
    letter-spacing: 1px;
}

#textDivPromotion {
	font-size: 14px;
    letter-spacing: 1px;
}

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}


#solutionsLogoBottom {
    margin-left: 12%;
    margin-top: 7px;
    font-size: 14px;
}



.textContact {
	font-size: 13px;
}

#textReferenzen {
    margin-top: 36px;
}

.textPRDasDigital {
    margin-top: 14px;
    color: black;
}

.textPRDasWebsite {
    margin-top: 33px;
    color: black;
}

#copyright {
    font-size: 7px;
}


}

@media only screen and (max-width: 375px) {

#socialMedia {
    width: 100%;
    height: 440px;
    font-size: 14px;
}

#textContact {
    margin-left: 2%;
    margin-top: 60px;
    width: 107%;
}

#website {
    width: 100%;
    height: 400px;
    font-size: 14px;
}

#changeHomeLogo {
	display: none;
}

#textReferenzen {
    margin-top: 34px;
}

#changeHomeLogo4D {
	display: initial;
}

#mobileVersionImageEvent {
	width: 100%;
    height: 380px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/03_event_VISUAL_TOT.png");
}

#solutionsBackgroundDigital {
    height: 380px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 380px;
	width: 100%;
    background-image: url("../img/solutionsEvent.png");
    background-size: cover;
    background-position: center;
}

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-right: 45%;
    float: left;
    width: 61%;
}

#socialMediaEvent {
    width: 100%;
    height: 380px;
    font-size: 14px;
}

#textPRDasEvent {
    margin-top: 2px;
    color: black;
}

#textPRDasPromotion {
    margin-top: -2px;
}

.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}

.textContact {
    font-size: 11px;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

#solutionsLogoBottom {
    margin-left: 11%;
    margin-top: 6px;
    font-size: 14px;
}

#referenzen {
	height: 380px;
	width: 100%;
    background-image: url("../img/icons/digital_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 380px;
	width: 100%;
    background-image: url("../img/icons/EVENT_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#textDivWebsite {
    width: 82%;
    margin-left: 14%;
    letter-spacing: 1px;
}

#copyright {
    font-size: 7px;
}

}

@media only screen and (max-width: 350px) {

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

#solutionsBackgroundDigital {
    height: 330px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#mobileVersionImageEvent {
	width: 100%;
    height: 330px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/03_event_VISUAL_TOT.png");
}

#solutionsBackgroundEvent {
    height: 330px;
	width: 100%;
    background-image: url("../img/solutionsEvent.png");
    background-size: cover;
    background-position: center;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-right: 46%;
    float: left;
}

.textPRDasDigital {
    margin-top: 8px;
    color: black;
}

.textPRDasWebsite {
    margin-top: 50px;
    color: black;
}

li {
	width: 147%;
}

#textReferenzen {
    margin-top: 29px;
}

#changeHomeLogo4D {
	display: initial;
}

.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}

.textContact {
    font-size: 14px;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

#solutionsLogoBottom {
    margin-left: 36%;
    margin-top: 11px;
    font-size: 14px;
}

#website {
    width: 100%;
    height: 470px;
    font-size: 14px;
}

#socialMedia {
    width: 100%;
    height: 480px;
    font-size: 14px;
}

#websiteEvent {
    width: 100%;
    height: 374px;
    font-size: 14px;
}

#socialMediaEvent {
    width: 100%;
    height: 430px;
    font-size: 14px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}

#textContact {
    margin-left: -16%;
    margin-top: 28px;
    width: 131%;
}

#referenzen {
	height: 330px;
	width: 100%;
    background-image: url("../img/icons/digital_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 330px;
	width: 100%;
    background-image: url("../img/icons/EVENT_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#solutionsLogoBottom {
    margin-left: 16%;
    margin-top: 11px;
    font-size: 14px;
}

#copyright {
    font-size: 7px;
    height: 0px;
    margin-top: 1px;
    width: 99%;
}




}

@media only screen and (max-width: 320px) {
    
.textPRDasWebsite {
    margin-top: 40px;
    color: black;
}

#solutionsLogoBottom {
    margin-left: 13%;
    margin-top: 6px;
    font-size: 14px;
}

#textPRDasEvent {
    margin-top: 6px;
    color: black;
}

.textContact {
    font-size: 11px;
}

#textContact {
    margin-left: -10%;
    margin-top: 59px;
    width: 126%;
}



}


