/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

body {
	font-family: 'Josefin Sans', sans-serif; 
	font-size: 22px;
	color: #FAFAFA;
	line-height: 22px;
}

a:hover {
	text-decoration-line: none;
	text-decoration: none;
}

#container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.gmnoprint, .gm-style-cc {
    display: none;
}

#containerNav {
	width: 100%;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: white;
    border-color: none;
}

.navbar-brand {
    margin-top: 3px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.iconsWidth {
	width: 38px;
}

#solutionsBackground {
	width: 100%;
	height: 1000px;
}

#solutionsBackgroundDigital {
    height: 1000px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 1000px;
	width: 100%;
    background-image: url("../img/solutionsEvent.png");
    background-size: cover;
    background-position: center;
}

.mobileVersionImage {
	width: 100%;
	height: 1298px;
	display: none;
}

#changeHomeLogo4D {
	display: none;
}

#solutionsPr {
	width: 100%;
	height: 1000px;
}

#socialMedia {
	width: 100%;
	height: 324px;
	background-color: white;
}

#spaceBetween {
	width: 100%;
	height: 117px;
}

#textDivDigital {
    width: 74%;
    /* margin-top: 48px; */
    margin-left: 14%;
}

.textPRDasDigital {
	margin-top: 32px;
	color: black;
}

#textDivWebsite {
    width: 82%;
    margin-left: 14%;
}

.textPRDasWebsite {
    margin-top: 43px;
    color: black;
}

#spaceBetweenImg {
	width: 100%;
	height: 117px;
}

#promoter {
    /* position: absolute; */
    margin-left: 64%;
    margin-top: -306px;
}

#promoterImg {
	width: 98%;
}

#website {
	width: 100%;
	height: 324px;
	background-color: white;
}

#websiteEvent {
    width: 100%;
    height: 324px;
}

#textReferenzen {
    width: 100%;
    height: 15px;
    position: absolute;
    margin-top: 105px;
    text-align: center;
}

.textPR {
	color: #f7f4fd;
	font-size: 24px;
}

.textPRDas {
    color: black;
}

#textDivEvent {
	width: 68%;
	height: 300px;
    margin-left: 18%;
    margin-top: 6%;
}

#textDivPromotion {
    color: black;
    width: 46%;
    height: 301px;
    margin-left: 18%;
    margin-top: 1px;
}

.textDigital {
	color: grey;
	font-size: 24px;
}

#referenzen {
	height: 1000px;
	width: 100%;
    background-image: url("../img/03_DIGITAL_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 1000px;
	width: 100%;
    background-image: url("../img/04_EVENT_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#referenzenLogo {
	width: 100%;
	height: 1000px;
}



#email {
	width: 100%;
	height: 301px;
	background-color: white;
	text-align: center;
	color: #1c1030;
}

.emailText {
	color: black;
}

#contactMap {
	width: 100%;
	height: 845px;	
	position: absolute;
}

#contact {
    width: 74%;
    height: 713px;
    position: absolute;
    margin-left: 15%;
    margin-top: 5%;
}

#footerBackground {
	width: 100%;
	height: 845px;
}

#textPRDasEvent {
	margin-top: -23px;
	color: black;
}

#textPRDasPromotion {
    margin-top: 27px;
}

#textContact {
    width:50%;
    float:left;
    margin-top: 8%;
}

.textContact {
	font-size: 24px;
	color: #f8f4f4;
}

#solutionsLogoBottom {
    margin-left: 8%;
    margin-top: 12px;
}

#logBottom {
	float: left;
}

#map {
    width:50%;
    float:left;
    margin-top: 12%;
}

#gmap_canvas {
	color: black;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

#socialMediaEvent {
    width: 100%;
    height: 260px;
}

.PrIcon {
	display: none;
}


/*Media Queries*/

/*@media only screen and (max-width: 2560px) {

#textDivPromotion {
    margin-top: 72px;
    margin-left: 22%;
}

}*/

@media only screen and (min-width: 1800px) {

#solutionsPr {
    width: 100%;
    height: 1236px;
} 

#solutionsBackground {
    width: 100%;
    height: 1500px;
}

#textDiv {
    margin-left: 22%;
}

#solutionsBackgroundCreative {
    height: 1500px;
    width: 100%;
    background-image: url("../img/solutionCreative.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundPr {
    height: 1500px;
    width: 100%;
    background-image: url("../img/01_Pr_HEADER.png");
    background-size: cover;
    background-position: center;
}

#textReferenzen {
    width: 100%;
    height: 1236px;
} 

#referenzenImg {
    width: 100%;
    height: 1236px;
} 

#referenzen {
    height: 1500px;
    width: 100%;
    background-image: url("../img/02_PR_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#referenzenCreative {
    height: 1500px;
    width: 100%;
    background-image: url("../img/05_CREATIVE_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#email {
    margin-top: 9px;
}

#solutionsLogoBottom {
    margin-left: 5%;
    margin-top: 12px;
}

#websiteEvent {
    height: 428px;
}

#textDivPromotion {
    margin-top: 72px;
    margin-left: 22%;
}

.textPR {
    color: #f7f4fd;
    font-size: 24px;
    margin-top: 40px;
}

#textDivEvent {
    margin-left: 22%;
}

.PrIcon {
    display: none;
}

#changeHomeLogo4D {
    display: none;
}

.textPR {
    color: #f7f4fd;
    font-size: 24px;
    margin-top: 48px;
}

#textPR {
    margin-top: 2px;
}

#promoter {
    margin-top: -597px;
}

#promoterImg {
    width: 100%;
}

#referenzenEvent {
    height: 1254px;
    width: 100%;
    background-image: url("../img/04_EVENT_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#textDivDigital {
    width: 74%;
    /* margin-top: 48px; */
    margin-left: 23%;
}

#textDivWebsite {
    width: 74%;
    /* margin-top: 48px; */
    margin-left: 23%;
}

#textDivPromotion {
    margin-top: 157px;
    margin-left: 22%;
}

}

@media only screen and (max-width: 1024px) {

body {
	font-size: 19px;
}

#changeHomeLogo4D {
	display: none;
}

#map {
    float: none;
    display: none;
}

.textPR {
	font-size: 19px;
}

.textDigital {
	font-size: 19px;
}

.textContact {
	font-size: 19px;
}

#solutionsBackground {
	width: 100%;
	height: 600px;
}

#solutionsBackgroundDigital {
    height: 500px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 500px;
	width: 100%;
    background-image: url("../img/solutionsEvent.png");
    background-size: cover;
    background-position: center;
}

.mobileVersionImage {
	width: 100%;
	height: 1298px;
	display: none;
}

#solutionsPr {
	width: 100%;
	height: 600px;
}

#socialMedia {
    width: 100%;
    height: 365px;
    font-size: 19px;
}

#socialMediaEvent {
	height: 325px;
	width: 100%;
	font-size: 19px;
	color: black;
}

#website {
	width: 100%;
	height: 325px;
	font-size: 19px;
}

#referenzen {
	height: 500px;
	width: 100%;
    background-image: url("../img/03_DIGITAL_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 500px;
	width: 100%;
    background-image: url("../img/04_EVENT_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#textDiv {
    width: 43%;
    height: 111px;
    margin-left: 18%;
    margin-top: 6%;
}

#textPRDas {
    margin-top: -49px;
    color: black;
    font-size: 19px;
}

#textPRDasEvent {
	margin-top: -12px;
	color: black;
}

#websiteEvent {
    width: 100%;
    height: 169px;
}

#textDivPromotion {
    width: 35%;
    position: absolute;
    margin-left: 19%;
    color: black;
    height: 282px;
    overflow: hidden;
    height: 315px;
}

#textPRDasPromotion {
    margin-top: 5px;
}

#promoter {
    width: 48%;
    margin-left: 52%;
    margin-top: -138px;
}

#promoterImg {
    width: 96%;
}

#referenzenLogo {
	width: 100%;
	height: 600px;
}

#textReferenzen {
    margin-top: 40px;
}

#email {
	height: 243px;
	width: 100%;
}

.emailText {
	margin-top: -45px;
	font-size: 19px;
}

#contactMap {
	width: 100%;
	height: 550px;
}

#footerBackground {
	width: 100%;
	height: 550px;
}

#contact {
	height: 0px;
}

#textContact {
	margin-left: 33%;
	margin-top: 0px;
}

.navbar-brand {
    padding-top: 0px;
    margin-left: -25px;
    margin-top: 17px;
}

.navbar-toggle {
    margin-right: 0px;
}

.navbar-nav {
    display: inline-flex;
}

#solutionsLogoBottom {
    margin-left: 12%;
    margin-top: 3%;
}

.PrIcon {
	display: none;
}

}

/*Large screen mobiles */

@media only screen and (max-width: 768px) {


body {
	font-size: 19px;
}

#changeHomeLogo4D {
	display: none;
}

#map {
    float: none;
    display: none;
}

#solutionsBackground {
	width: 100%;
	height: 600px;
}

#solutionsBackgroundDigital {
    height: 500px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 500px;
	width: 100%;
    background-image: url("../img/solutionsEvent.png");
    background-size: cover;
    background-position: center;
}

.mobileVersionImage {
	width: 100%;
	height: 1298px;
	display: none;
}

.textDigital {
	font-size: 19px;
}

#solutionsPr {
	width: 100%;
	height: 600px;
}

#socialMediaEvent {
    width: 100%;
    height: 333px;
    font-size: 19px;
    color: black;
}

#promoter, #promoterImg {
	display: none;
}

#website {
	width: 100%;
	height: 335px;
    font-size: 19px;
}

#websiteEvent {
	width: 100%;
	height: 335px;
	font-size: 19px;
}

#referenzen {
	height: 500px;
	width: 100%;
    background-image: url("../img/03_DIGITAL_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 500px;
	width: 100%;
    background-image: url("../img/04_EVENT_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#referenzenLogo {
	width: 100%;
	height: 500px;
}

#textReferenzen {
	margin-top: 50px;
}

#textDivPromotion {
	width: 74%;
	position: absolute;
	margin-left: 19%;
}

#email {
	height: 243px;
	width: 100%;
}

.emailText {
	margin-top: -36px;
	font-size: 19px;
}

#contactMap {
	width: 100%;
	height: 550px;
}

#footerBackground {
	width: 100%;
	height: 550px;
}

.textPR {
	font-size: 19px;
}

#contact {
	height: 0px;
}

#textContact {
	margin-left: 33%;
	margin-top: 8px;
}

.navbar-brand {
    padding-top: 0px;
    margin-left: -19px;
    margin-top: 15px;
}

.navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-top: 18px;
}

.navbar-toggle {
    margin-right: 0px;
    margin-top: 17px;
}

.navbar-nav {
    display: inline-flex;
    float: right;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

#solutionsLogoBottom {
    margin-left: 15%;
    margin-top: 13px;
    font-size: 19px;
}

.textContact {
	font-size: 19px;
}

.textPRDasDigital {
	margin-top: 15px;
	color: black;
}

/*#textPRDasPromotion {
    margin-top: -54px;
}*/

.textPRDasWebsite {
    margin-top: 24px;
    color: black;
}

.PrIcon {
	display: none;
}

}

@media only screen and (max-width: 480px) {

#textDivPromotion {
    width: 74%;
    position: absolute;
    margin-left: 19%;
    font-size: 15px;
}

#socialMediaEvent {
    width: 100%;
    height: 333px;
    font-size: 15px;
    color: black;
}

}

/*iPhones and other mobiles*/

@media only screen and (max-width: 425px) {

body {
	font-size: 14px;
}

#changeHomeLogo {
	display: none;
}

#changeHomeLogo4D {
	display: initial;
}

#map {
    float: none;
    display: none;
}

#solutionsBackground {
	width: 100%;
	height: 444px;
	display: none;
}

#solutionsBackgroundDigital {
    height: 400px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    display: none;
}

.textDigital {
	font-size: 14px;
    margin-top: -8px;
}

#solutionsPr {
	width: 100%;
	height: 444px;
}

/*.mobileVersionImage {
    width: 100%;
    height: 400px;
    display: initial;
}*/

#mobileVersionImageEvent {
	width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/03_event_VISUAL_TOT.png");
}

#socialMedia {
    width: 100%;
    height: 402px;
    font-size: 14px;
}

#socialMediaEvent {
    width: 100%;
    height: 400px;
    font-size: 14px;
}

#website {
	width: 100%;
	height: 388px;
	font-size: 14px;
}

#websiteEvent {
    width: 100%;
    height: 370px;
    font-size: 19px;
}

#referenzen {
	height: 400px;
	width: 100%;
    background-image: url("../img/03_DIGITAL_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 400px;
	width: 100%;
    background-image: url("../img/04_EVENT_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#referenzenLogo {
	width: 100%;
	height: 500px;
}

#textReferenzen {
	margin-top: 61px;
}

#email {
	height: 243px;
	width: 100%;
}

.emailText {
	margin-top: -45px;
	font-size: 14px;
}

#contactMap {
	width: 100%;
	height: 600px;
}

#footerBackground {
	width: 100%;
	height: 600px;
}

.textPR {
	font-size: 14px;
}

#contact {
	height: 0px;
}

#textContact {
	margin-left: 25%;
	margin-top: 29px;
}

.navbar-brand {
    padding-top: 0px;
    margin-top: 13px;
    margin-left: -25px;
}

.navbar-toggle {
    margin-right: 0px;
}

#textDivEvent {
	font-size: 14px;
}

#textDivPromotion {
	font-size: 14px;
}

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-left: -20px;
    float: left;
    width: 71%;
}

.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}


#solutionsLogoBottom {
    margin-left: 27%;
    margin-top: 10px;
    font-size: 14px;
}

.textContact {
	font-size: 14px;
}

#textReferenzen {
    margin-top: 36px;
}

.textPRDasDigital {
    margin-top: 27px;
    color: black;
}

.textPRDasWebsite {
    margin-top: 33px;
    color: black;
}

}

@media only screen and (max-width: 375px) {

#socialMedia {
    width: 100%;
    height: 435px;
    font-size: 14px;
}

#changeHomeLogo {
	display: none;
}

#textReferenzen {
    margin-top: 34px;
}

#changeHomeLogo4D {
	display: initial;
}

#mobileVersionImageEvent {
	width: 100%;
    height: 380px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/03_event_VISUAL_TOT.png");
}

#solutionsBackgroundDigital {
    height: 380px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundEvent {
    height: 380px;
	width: 100%;
    background-image: url("../img/solutionsEvent.png");
    background-size: cover;
    background-position: center;
}

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-left: -20px;
    float: left;
    width: 61%;
}

#textPRDasPromotion {
    margin-top: -62px;
}

.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}
.textContact {
    font-size: 14px;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

#referenzen {
	height: 380px;
	width: 100%;
    background-image: url("../img/03_DIGITAL_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 380px;
	width: 100%;
    background-image: url("../img/04_EVENT_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#textPRDasPromotion {
    margin-top: 10px;
}

}

@media only screen and (max-width: 350px) {

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

#solutionsBackgroundDigital {
    height: 330px;
	width: 100%;
    background-image: url("../img/solutionDigital.png");
    background-size: cover;
    background-position: center;
}

#mobileVersionImageEvent {
	width: 100%;
    height: 330px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/03_event_VISUAL_TOT.png");
}

#solutionsBackgroundEvent {
    height: 330px;
	width: 100%;
    background-image: url("../img/solutionsEvent.png");
    background-size: cover;
    background-position: center;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-left: -20px;
    float: left;
}

li {
	width: 147%;
}

#textReferenzen {
    margin-top: 29px;
}

#changeHomeLogo4D {
	display: initial;
}

.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}

.textContact {
    font-size: 14px;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

#solutionsLogoBottom {
    margin-left: 36%;
    margin-top: 11px;
    font-size: 14px;
}

#website {
    width: 100%;
    height: 446px;
    font-size: 14px;
}

#websiteEvent {
    width: 100%;
    height: 374px;
    font-size: 14px;
}

#socialMediaEvent {
    width: 100%;
    height: 430px;
    font-size: 14px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}

#textContact {
    margin-left: 22%;
    margin-top: -6px;
    width: 51%;
}

#referenzen {
	height: 330px;
	width: 100%;
    background-image: url("../img/03_DIGITAL_Referenzen.png");
    background-size: cover;
    background-position: center;
}

#referenzenEvent {
	height: 330px;
	width: 100%;
    background-image: url("../img/04_EVENT_Referenzen.png");
    background-size: cover;
    background-position: center;
}


}


