* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif; 
	font-size: 22px;
	color: #FAFAFA;
	line-height: 22px;
}

a:hover {
	text-decoration-line: none;
	text-decoration: none;
}

#container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

#containerNav {
	width: 100%;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: white;
    border-color: none;
}

.navbar-brand {
    margin-top: 3px;
}

.iconsWidth {
	width: 38px;
}

#PRlogoNames, #DIGITALlogoNames, #EVENTlogoNames, #CREATIVElogoNames {
	display: none;
}

#solutionsBackground {
	width: 100%;
	height: 1000px;
}

.mobileVersionImage {
	width: 100%;
	height: 1000px;
	display: none;
}

#solutionsPr {
	width: 100%;
	height: 1000px;
}

#prTextBackground {
	width: 100%;
    margin-top: -267px;
	height: 327px;
	background-color: white;
}

#textDiv {
	width: 70%;
	height: 111px;
    margin-left: 18%;
    margin-top: 310px;
}

.textPR {
	color: #f7f4fd;
	font-size: 24px;
}

.textPRDas {
    color: black;
}

#referenzen {
	width: 100%;
	height: 1000px;
	}

#referenzenImg {
	width: 100%;
	height: 1000px;
}

#textReferenzen {
    width: 100%;
    height: 15px;
    position: absolute;
    margin-top: 141px;
    text-align: center;
}

#email {
	width: 100%;
	height: 303px;
	background-color: white;
	text-align: center;
	color: #1c1030;
}

.emailText {
	color: black;
}

#contactMap {
	width: 100%;
	height: 845px;	
	position: absolute;
}

#contact {
    width: 71%;
    height: 713px;
    position: absolute;
    margin-left: 18%;
    margin-top: 5%;
}

#footerBackground {
	width: 100%;
	height: 845px;
}

#textContact {
    width:50%;
    float:left;
    margin-top: 8%;
}

.textContact {
	font-size: 24px;
	color: #f8f4f4;
}

#solutionsLogoBottom {
    margin-left: 9%;
    margin-top: 12px;
}

#logBottom {
	float: left;
}

#map {
    width:50%;
    float:left;
    margin-top: 12%;
}

#gmap_canvas {
	color: black;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.PrIcon {
	display: none;
}

/*Media Queries*/

@media only screen and (min-width: 1800px) {

#solutionsPr {
	width: 100%;
	height: 1236px;
} 

#solutionsBackground {
	width: 100%;
	height: 1236px;
} 

#textReferenzen {
	width: 100%;
	height: 1236px;
} 

#referenzenImg {
	width: 100%;
	height: 1236px;
} 

#email {
	margin-top: 233px;
}

#solutionsLogoBottom {
    margin-left: 5%;
    margin-top: 12px;
}

.PrIcon {
	display: none;
}





}

@media only screen and (max-width: 1024px) {

body {
	font-size: 19px;
}

#container {
	width: 100%;
	height: 0px;
	min-height: 0px;
}

#map {
    float: none;
    display: none;
}

#solutionsBackground {
	width: 100%;
	height: 600px;
}

.mobileVersionImage {
	width: 100%;
	height: 600px;
	display: none;
}

#solutionsPr {
	width: 100%;
	height: 600px;
}

#referenzen {
	width: 100%;
	height: 500px;
}

#referenzenImg {
	width: 100%;
	height: 500px;
}

#textReferenzen {
	margin-top: 61px;
}

#textDiv {
    margin-top: 254px;
}

.textPR {
	font-size: 19px;
}

#prTextBackground {
	height: 259px;
}

.navbar-brand {
    padding-top: 0px;
    margin-left: -25px;
    margin-top: 17px;
}

.navbar-toggle {
    margin-right: 0px;
}

.navbar-nav {
    display: inline-flex;
}

#solutionsLogoBottom {
    margin-left: 15%;
    margin-top: 10px;
}

#contactMap {
	width: 100%;
	height: 600px;
}

#footerBackground {
	width: 100%;
	height: 600px;
}

#contact {
	height: 0px;
}

#textContact {
	margin-left: 33%;
	margin-top: 0px;
}

.textContact {
    font-size: 19px;
}

.PrIcon {
	display: none;
}

}

@media only screen and (max-width: 768px) {


body {
	font-size: 19px;
}

#container {
	width: 100%;
	height: 0px;
	min-height: 0px;
}

#map {
    float: none;
    display: none;
}

#solutionsBackground {
	width: 100%;
	height: 600px;
}

.mobileVersionImage {
	width: 100%;
	height: 400px;
	display: none;
}

#solutionsPr {
	width: 100%;
	height: 600px;
}

#email {
	height: 300px;
}

#referenzen {
	width: 100%;
	height: 500px;
}

#referenzenImg {
	width: 100%;
	height: 500px;
}

#textReferenzen {
	margin-top: 61px;
}

.textPR {
	font-size: 19px;
}

#prTextBackground {
	height: 295px;
}

#solutionsLogoBottom {
    margin-left: 15%;
    margin-top: 12px;
}

#contactMap {
	width: 100%;
	height: 600px;
}

#footerBackground {
	width: 100%;
	height: 600px;
}

#contact {
	height: 0px;
}

#textContact {
    margin-left: 29%;
    margin-top: 42px;
}

.textContact {
    font-size: 19px;
}

.navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-top: 18px;
}

.navbar-brand {
    padding-top: 0px;
    margin-left: -19px;
    margin-top: 15px;
}

.emailText {
	margin-top: -11px;
}

.navbar-toggle {
    margin-right: 0px;
    margin-top: 17px;
}

.navbar-nav {
    display: inline-flex;
    float: right;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

#PRlogoNames, #DIGITALlogoNames, #EVENTlogoNames, #CREATIVElogoNames {
	display: block;
}

.PrIcon {
	display: none;
}

}

@media only screen and (max-width: 480px) {

body {
	font-size: 14px;
}

#container {
	width: 100%;
	height: 0px;
	min-height: 0px;
}

#map {
    float: none;
    display: none;
}

#solutionsBackground {
	width: 100%;
	height: 400px;
	display: none;
}

#solutionsPr {
	width: 100%;
	height: 400px;
}

#referenzen {
	width: 100%;
	height: 400px;
}

#referenzenImg {
	width: 100%;
	height: 400px;
}

#textReferenzen {
	margin-top: 61px;
}

.mobileVersionImage {
    width: 100%;
    height: 400px;
    display: initial;
    margin-top: 59px;
}

#mobileVersionImage {
    width: 100%;
    height: 400px;
    display: initial;
    margin-top: 59px;
}

.textPR {
	font-size: 14px;
}

#prTextBackground {
	height: 330px;
	margin-top: -274px;
}

.navbar-brand {
    padding-top: 0px;
    margin-top: 13px;
    margin-left: -25px;
}

.navbar-toggle {
    margin-right: 0px;
}

.navbar-nav {
    display: inline-flex;
    margin-top: 13%;
    margin-left: -10%;
    float: right;
}

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-left: 61px;
    float: left;
}

li {
	width: 285%;
}

.iconsWidth {
    width: 41px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}

#PRlogoNames {
	margin-left: 30%;
}

#PRlogoNames, #DIGITALlogoNames, #EVENTlogoNames, #CREATIVElogoNames {
	display: block;
}

#solutionsLogoBottom {
    margin-left: 28%;
    margin-top: 12px;
}

#contactMap {
	width: 100%;
	height: 600px;
}

#footerBackground {
	width: 100%;
	height: 600px;
}

#contact {
	height: 0px;
}

#textContact {
	margin-left: 22%;
	margin-top: 29px;
}

.textContact {
    font-size: 14px;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

}

@media only screen and (max-width: 375px) {

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-left: 44px;
    float: left;
}

li {
	width: 285%;
}

.iconsWidth {
    width: 41px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}
.textContact {
    font-size: 14px;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

}

@media only screen and (max-width: 350px) {

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-left: 28px;
    float: left;
}

li {
	width: 285%;
}

.iconsWidth {
    width: 41px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}
.textContact {
    font-size: 14px;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

#textContact {
    margin-left: 22%;
    margin-top: -6px;
    width: 51%;
}

#solutionsLogoBottom {
    margin-left: 38%;
}

}