/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*/
body {
	font-family: 'Josefin Sans', sans-serif; 
	font-size: 22px;
	color: #FAFAFA;
	line-height: 22px;
}

a:hover {
	text-decoration-line: none;
	text-decoration: none;
}

#container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

#containerNav {
	width: 101%;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: white;
    border-color: none;
}

.navbar-right {
    float: right!important;
    margin-right: -27px;
}

.navbar-brand {
    margin-top: 3px;
}

#mailIcon{
    margin-top: 4px;
}

#hideMail {
    display: none;
}

.iconsWidth {
	width: 38px;
}

#PRlogoNames, #DIGITALlogoNames, #EVENTlogoNames, #CREATIVElogoNames {
	display: none;
}

#solutionsBackground {
	width: 100%;
	height: 1000px;
}

#solutionsBackgroundCreative {
    height: 1000px;
	width: 100%;
    background-image: url("../img/solutionCreative.png");
    background-size: cover;
    background-position: center;
}

.mobileVersionImage {
	width: 100%;
	height: 1000px;
	display: none;
}

.gmnoprint, .gm-style-cc {
    display: none;
}

#solutionsPr {
	width: 100%;
	height: 1000px;
}

#solutionsBackgroundPr {
	height: 1000px;
	width: 100%;
    background-image: url("../img/01_Pr_HEADER.png");
    background-size: cover;
    background-position: center;
}

.prTextBackground {
    width: 100%;
    margin-top: -267px;
    height: 327px;
    background-color: white;
    letter-spacing: 2px;
    height: 312px;
}

#prTextBackground {
    width: 100%;
    margin-top: -267px;
    height: 327px;
    background-color: white;
    letter-spacing: 2px;
    height: 270px;
    color: black;
}

#textDiv {
	width: 70%;
	height: 111px;
    margin-left: 18%;
    margin-top: 310px;
}

.textPR {
    color: #f7f4fd;
    font-size: 24px;
    margin-top: -33px;
}

.textPRDas {
    color: black;
}

#referenzen {
	height: 1000px;
	width: 100%;
    background-image: url("../img/icons/PR_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenCreative {
	height: 1000px;
	width: 100%;
    background-image: url("../img/icons/CREATIVE_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenImg {
	width: 100%;
	height: 1000px;
}

#textReferenzen {
    width: 100%;
    height: 15px;
    position: absolute;
    margin-top: 141px;
    text-align: center;
    letter-spacing: 2px;
}

#email {
	width: 100%;
	height: 303px;
	background-color: white;
	text-align: center;
	color: #1c1030;
    letter-spacing: 2px;
}

.emailText {
	color: black;
}

.emailText:hover {
    color: black;
}

.textContact:hover {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}


#contactMap {
	width: 100%;
	height: 845px;	
	position: absolute;
}

#contact {
    width: 71%;
    height: 713px;
    position: absolute;
    margin-left: 18%;
    margin-top: 5%;
    letter-spacing: 2px;
}

#footerBackground {
	width: 100%;
	height: 845px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/icons/footer.png");
}

#textContact {
    width:50%;
    float:left;
    margin-top: 8%;
}

.textContact {
	font-size: 24px;
	color: #f8f4f4;
}

#solutionsLogoBottom {
    margin-left: 9%;
    margin-top: 12px;
}

#logBottom {
	float: left;
}

#map {
    width:50%;
    float:left;
    margin-top: 12%;
}

#gmap_canvas {
	color: black;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.PrIcon {
	display: none;
}

#changeHomeLogo4D {
	display: none;
}

#copyright {
    font-size: 10px;
    margin-top: 10px;
}

/*Media Queries*/

/*@media only screen and (max-width: 2560px) {

#prTextBackground {
    width: 100%;
    margin-top: -267px;
    height: 327px;
    background-color: white;
    letter-spacing: 2px;
    height: 247px;
}

}*/

@media only screen and (min-width: 1800px) {

#solutionsPr {
	width: 100%;
	height: 1236px;
} 

#solutionsBackground {
	width: 100%;
	height: 1500px;
}

#prTextBackground {
    width: 90%;
    height: 327px;
    background-color: white;
    letter-spacing: 2px;
    height: 247px;
    margin-bottom: 49px;
}

#solutionsBackgroundCreative {
    height: 1500px;
	width: 100%;
    background-image: url("../img/solutionCreative.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundPr {
	height: 1500px;
	width: 100%;
    background-image: url("../img/01_Pr_HEADER.png");
    background-size: cover;
    background-position: center;
}

#textReferenzen {
	width: 100%;
	height: 1236px;
} 

#referenzenImg {
	width: 100%;
	height: 1236px;
} 

#referenzen {
	height: 1500px;
	width: 100%;
    background-image: url("../img/icons/PR_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenCreative {
	height: 1500px;
	width: 100%;
    background-image: url("../img/icons/CREATIVE_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#email {
	margin-top: 9px;
}

#solutionsLogoBottom {
    margin-left: 5%;
    margin-top: 12px;
}

.textPR {
    color: #f7f4fd;
    font-size: 24px;
    margin-top: 41px;
}

.PrIcon {
	display: none;
}

#changeHomeLogo4D {
	display: none;
}

#textDiv {
    width: 59%;
    height: 111px;
    margin-left: 23%;
    margin-top: 310px;
    color: black;
}

#copyright {
    font-size: 9px;
    margin-top: 10px;
}

.textPRDas {
    color: black;
    margin-top: 3px;
}

#textPRDas {
    color: black;
    margin-top: 30px;
}

}

@media only screen and (max-width: 1024px) {

body {
	font-size: 19px;
}

#container {
	width: 100%;
	height: 0px;
	min-height: 0px;
}

#map {
    float: none;
    display: none;
}

.mobileVersionImage {
	width: 100%;
	height: 600px;
	display: none;
}

#solutionsPr {
	width: 100%;
	height: 500px;
}

#solutionsBackground {
	width: 100%;
	height: 500px;
}

#solutionsBackgroundCreative {
    height: 500px;
	width: 100%;
    background-image: url("../img/solutionCreative.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundPr {
	height: 500px;
	width: 100%;
    background-image: url("../img/01_Pr_HEADER.png");
    background-size: cover;
    background-position: center;
}

#referenzen {
	height: 500px;
	width: 100%;
    background-image: url("../img/icons/PR_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenCreative {
	height: 500px;
	width: 100%;
    background-image: url("../img/icons/CREATIVE_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenImg {
	width: 100%;
	height: 500px;
}

#textReferenzen {
	margin-top: 61px;
}

#textDiv {
    margin-top: 295px;
}

.textPR {
    font-size: 19px;
    margin-top: -17px;
}

.textPrDas {
    margin-top: -26px;
}

#prTextBackground {
    height: 271px;
}

.prTextBackground {
    width: 100%;
    margin-top: -267px;
    height: 327px;
    background-color: white;
    letter-spacing: 2px;
    height: 326px;
}

.navbar-brand {
    padding-top: 0px;
    margin-left: -25px;
    margin-top: 17px;
}

.navbar-toggle {
    margin-right: 0px;
}

.navbar-nav {
    display: inline-flex;
}

#solutionsLogoBottom {
    margin-left: 15%;
    margin-top: 10px;
}

#contactMap {
	width: 100%;
	height: 600px;
}

#footerBackground {
	width: 100%;
	height: 600px;
}

#contact {
	height: 0px;
}

#textContact {
    margin-left: 29%;
    margin-top: 0px;
}

.textContact {
    font-size: 19px;
}

.PrIcon {
	display: none;
}

#changeHomeLogo4D {
	display: none;
}

#copyright {
    font-size: 9px;
    margin-top: 9px;
}

}

@media only screen and (max-width: 768px) {


body {
	font-size: 19px;
}

#container {
	width: 100%;
	height: 0px;
	min-height: 0px;
}

#textPRDas {
    margin-top: -20px;
}

#map {
    float: none;
    display: none;
}

#solutionsBackground {
	width: 100%;
	height: 500px;
}

#solutionsBackgroundCreative {
    height: 500px;
	width: 100%;
    background-image: url("../img/solutionCreative.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundPr {
	height: 500px;
	width: 100%;
    background-image: url("../img/01_Pr_HEADER.png");
    background-size: cover;
    background-position: center;
}

.mobileVersionImage {
	width: 100%;
	height: 400px;
	display: none;
}

#solutionsPr {
	width: 100%;
	height: 600px;
}

#email {
	height: 300px;
}

#changeHomeLogo4D {
	display: none;
}

#referenzen {
	height: 500px;
	width: 100%;
    background-image: url("../img/icons/PR_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenCreative {
	height: 500px;
	width: 100%;
    background-image: url("../img/icons/CREATIVE_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenImg {
	width: 100%;
	height: 500px;
}

#textReferenzen {
	margin-top: 61px;
}

.textPR {
	font-size: 19px;
}

#prTextBackground {
    height: 246px;
}

.prTextBackground {
    width: 100%;
    margin-top: -267px;
    height: 327px;
    background-color: white;
    letter-spacing: 2px;
    height: 338px;
}

#solutionsLogoBottom {
    margin-left: 15%;
    margin-top: 12px;
}

#contactMap {
	width: 100%;
	height: 600px;
}

#footerBackground {
	width: 100%;
	height: 600px;
}

#contact {
	height: 0px;
}

#textContact {
    margin-left: 24%;
    margin-top: 42px;
}

.textContact {
    font-size: 19px;
}

.navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-top: 18px;
}

.navbar-brand {
    padding-top: 0px;
    margin-left: -19px;
    margin-top: 15px;
}

.emailText {
	margin-top: -11px;
}

.navbar-toggle {
    margin-right: 0px;
    margin-top: 17px;
}

.navbar-nav {
    display: inline-flex;
    float: right;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

#PRlogoNames, #DIGITALlogoNames, #EVENTlogoNames, #CREATIVElogoNames {
	display: block;
}

.PrIcon {
	display: none;
}

#copyright {
    font-size: 6px;
    margin-top: 12px;
}

}

@media only screen and (max-width: 480px) {

body {
	font-size: 14px;
}

#container {
	width: 100%;
	height: 0px;
	min-height: 0px;
}

#map {
    float: none;
    display: none;
}

#mailIcon{
    display: none;
}

#hideMail {
    display: initial;
}

#solutionsBackground {
	width: 100%;
	height: 400px;
}

#solutionsBackgroundCreative {
    height: 400px;
	width: 100%;
    background-image: url("../img/solutionCreative.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundPr {
	display: none;
}

#solutionsPr {
	width: 100%;
	height: 400px;
}

#referenzen {
	height: 400px;
	width: 100%;
    background-image: url("../img/icons/PR_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenCreative {
	height: 400px;
	width: 100%;
    background-image: url("../img/icons/CREATIVE_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenImg {
	width: 100%;
	height: 400px;
}

#textReferenzen {
	margin-top: 61px;
}

/*.mobileVersionImage {
    width: 100%;
    height: 400px;
    display: initial;
    margin-top: 59px;
}*/

.mobileVersionImagePr {
    width: 100%;
    height: 474px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/prMobile.png");
}

#mobileVersionImage {
    width: 100%;
    height: 400px;
    display: initial;
    margin-top: 59px;
}

.textPR {
	font-size: 14px;
}

#prTextBackground {
    height: 330px;
    margin-top: -262px;
}

.prTextBackground {
    width: 100%;
    margin-top: -267px;
    height: 327px;
    background-color: white;
    letter-spacing: 2px;
    height: 380px;
}

.navbar-brand {
    padding-top: 0px;
    margin-top: 13px;
    margin-left: -25px;
}

.navbar-toggle {
    margin-right: 0px;
    margin-top: 15px;
}

#changeHomeLogo {
	display: none;
}

#changeHomeLogo4D {
	display: initial;
}

.navbar-nav {
    display: inline-flex;
    margin-top: 13%;
    margin-left: -10%;
    float: right;
}

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-right: 34%;
    width: 71%;
}

li {
	width: 147%;
}

.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}

#PRlogoNames {
	margin-left: 30%;
}

#PRlogoNames, #DIGITALlogoNames, #EVENTlogoNames, #CREATIVElogoNames {
	display: block;
}

#textContact {
    margin-left: -6%;
    margin-top: 29px;
    width: 118%;
}

#solutionsLogoBottom {
    margin-left: 13%;
    margin-top: 10px;
    font-size: 14px;
}

#contactMap {
	width: 100%;
	height: 500px;
}

#footerBackground {
	width: 100%;
	height: 500px;
}

#contact {
	height: 0px;
}

.textContact {
    font-size: 14px;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

#copyright {
    font-size: 7px;
    height: 0px;
    /* margin-top: 12px; */
}

}

@media only screen and (max-width: 425px) {

    #copyright {
    font-size: 7px;
    height: 0px;
    margin-top: -4px;
}

#prTextBackground {
    height: 290px;
    margin-top: -262px;
    width: 100%;
}


}

@media only screen and (max-width: 375px) {

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-right: 45%;
    float: left;
    width: 61%;
}

li {
	width: 147%;
}

.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}
.textContact {
    font-size: 14px;
}

#changeHomeLogo {
	display: none;
}

#textDiv {
    margin-top: 290px;
}

#changeHomeLogo4D {
	display: initial;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

.textPR {
    font-size: 14px;
    margin-top: -24px;
}

#referenzen {
	height: 380px;
	width: 100%;
    background-image: url("../img/icons/PR_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenCreative {
	height: 280px;
	width: 100%;
    background-image: url("../img/icons/CREATIVE_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackground {
	width: 100%;
	height: 380px;
}

#solutionsBackgroundPr {
	height: 380px;
	width: 100%;
    background-image: url("../img/01_Pr_HEADER.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundCreative {
    height: 380px;
	width: 100%;
    background-image: url("../img/solutionCreative.png");
    background-size: cover;
    background-position: center;
}

#prTextBackground {
    height: 310px;
    margin-top: -262px;
    width: 100%;
}

.prTextBackground {
    width: 100%;
    margin-top: -267px;
    height: 327px;
    background-color: white;
    letter-spacing: 1px;
    height: 380px;
}

}

@media only screen and (max-width: 350px) {

navbar-collapse, .navHeaderCollapse, .collapse, .in {
	width: 106%;
}

.nav, .navbar-nav, .navbar-right {
    display: block;
    margin-top: -5px;
    margin-right: 46%;
    float: left;
}

#prTextBackground {
    height: 370px;
    width: 100%;
}

li {
	width: 147%;
}

.textPR {
    font-size: 14px;
    margin-top: -32px;
}

#changeHomeLogo {
	display: none;
}

#changeHomeLogo4D {
	display: initial;
}

.iconsWidth {
    width: 33px;
}

.navbar-inverse, .navbar-collapse, .navbar-inverse, .navbar-form {
    border-color: white;
}

.navbar, .navbar-inverse, .navbar-static-top {
	width: 100%;
	position: fixed;
}
.textContact {
    font-size: 14px;
}

.prTextBackground {
    width: 100%;
    margin-top: -267px;
    height: 327px;
    background-color: white;
    letter-spacing: 1px;
    height: 350px;
}

.textPRDas {
    color: black;
    margin-top: -9px;
}

.PrIcon {
    display: inline;
    margin-left: 15%;
    color: black;
}

#textContact {
    margin-left: -16%;
    margin-top: 13px;
    width: 131%;
}

#contactMap {
    width: 100%;
    height: 500px;
}

#footerBackground {
    width: 100%;
    height: 500px;
}

#solutionsLogoBottom {
    margin-left: 13%;
    margin-top: 11px;
    font-size: 14px;
}

#referenzen {
	height: 330px;
	width: 100%;
    background-image: url("../img/icons/PR_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#referenzenCreative {
	height: 330px;
	width: 100%;
    background-image: url("../img/icons/CREATIVE_REFERENZE.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackground {
	width: 100%;
	height: 330px;
}

#solutionsBackgroundPr {
	height: 330px;
	width: 100%;
    background-image: url("../img/01_Pr_HEADER.png");
    background-size: cover;
    background-position: center;
}

#solutionsBackgroundCreative {
    height: 330px;
	width: 100%;
    background-image: url("../img/solutionCreative.png");
    background-size: cover;
    background-position: center;
}

#copyright {
    font-size: 7px;
    height: 0px;
    margin-top: 5px;
}

}
